block variables
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{pageTitle} | waLit - Your Personal Budget Manager
        block links
            link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins')
            link(rel='stylesheet', href='../stylesheets/shared/constants.css')
            link(rel='stylesheet', href='../stylesheets/shared/page.css')
    body
        block body
        block scripts
