:root {
    /* page constants */
    --min-page-width: 700px;

    /* font constants */
    --page-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --navbar-font-size: 17px;

    /* color constants */
    --navbar-background-color: #A31621;
    --navbar-active-background-color: #DB222A;
    --navbar-text-color: #FCFAF9;

    /* chart constants */
    --chart-width: 600px;
    --chart-padding: 25px;

    /* form constants */
    --form-height: 30px;
    --form-width: 200px;
    --form-margin: 5px;

    /* table constants */
    --table-padding: 20px;
}