form {
  width: 80%;
  margin: auto;
}

input {
  padding-left: var(--input-padding-left);
}

.single,
.single-invalid,
.double,
.double-invalid {
  font: inherit;
  height: var(--input-height);
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
  background: none;
  outline: none;
  border: none;
}

.single,
.double {
  border-bottom: solid grey 1px;
}

.single-invalid,
.double-invalid {
  border-bottom: solid var(--main-background-color) 2px;
}

.single,
.single-invalid {
  width: var(--input-width);
  margin: var(--input-margin);
}

.double,
.double-invalid {
  width: calc(2 * var(--input-width) + 2 * var(--input-margin));
  margin: var(--input-margin);
}

.single[type="submit"] {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--main-text-color-inverse);
  background: var(--background-gradient);
}


::placeholder {
  color: var(--main-text-color);
}

option:disabled,
::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  font-size: var(--calendar-picker-size);
  background: none;
}
