nav {
  display: flex;
  justify-content: space-evenly;
  background: var(--background-gradient);
  overflow: hidden;
  height: var(--navbar-height);
}

.navbar-group {
  display: flex;
}

nav .logo {
  font-size: var(--navbar-logo-size);
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: var(--navbar-link-size);
  padding: var(--navbar-padding);
  font-size: var(--navbar-font-size);
  color: var(--navbar-text-color);
}

nav a.logo:hover {
  padding: 0 0.55em;
  font-size: calc(var(--navbar-logo-size) + 0.2em);
  transition: var(--hover-transition);
}

nav a:not(.logo):hover {
  padding: 0 0.64em;
  font-size: calc(var(--navbar-font-size) + 0.1em);
  transition: var(--hover-transition);
}

nav a.active {
  color: var(--navbar-text-color);
  background-color: var(--navbar-active-background-color);
}

i {
  padding-right: var(--navbar-icon-padding);
}
