html {
  height: 100%;
  box-sizing: border-box;
  font-family: var(--page-font);
}

body {
  min-width: var(--min-page-width);
  margin: 0;
}

main {
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}
