html {
    height: 100%;
}

body {
    font-family: var(--page-font);
    min-width: var(--min-page-width);
    margin: 0;
}

main {
    margin: auto;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    font-weight: var(--font-weight);
}