body {
  background: var(--background-gradient);
}

.login-container {
  width: 30em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--active-background-color);
  padding: var(--login-form-padding);
}

.single,
input {
  font: inherit;
  color: var(--main-text-color-inverse);
  width: var(--input-width);
  height: var(--input-height);
  margin: var(--input-margin);
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid var(--main-text-color-inverse) 1px;
}

.single-invalid {
  border-bottom: solid var(--main-background-color) 2px;
  transition: all 0.5s ease-in-out;
}

input[type="submit"] {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--main-background-color);
  background-color: var(--main-text-color-inverse);
}

::placeholder {
  color: var(--main-text-color-inverse);
}

span {
  white-space: nowrap;
  color: var(--main-text-color-inverse);
}

a {
  text-decoration: none;
}

.logo {
  margin: var(--login-logo-margin);
  color: var(--main-text-color-inverse);
  font-size: var(--login-logo-size);
}
