table {
    margin: var(--transactions-table-margin);
    width: 60%;
}

th,
tr,
td {
    padding: var(--table-padding);
}

tbody {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: var(--transactions-table-tbody-height);
}

thead {
    display: table;
    width: calc(100% - var(--scrollbar-width));
    table-layout: fixed;
}

tbody tr {
    table-layout: fixed;
    display: table;
    width: 100%;
}

tr:nth-child(even) {
    background-color: var(--transactions-table-even-row-background);
}