nav {
  display: flex;
  justify-content: space-evenly;
  background: var(--background-gradient);
  overflow: hidden;
  height: var(--navbar-height);
}

.navbar-group {
  display: flex;
}

nav .logo {
  font-size: var(--navbar-logo-size);
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: var(--navbar-link-size);
  padding: var(--navbar-padding);
  font-size: var(--navbar-font-size);
  color: var(--main-text-color-inverse);
}

nav a:hover {
  padding-bottom: var(--navbar-icon-padding);
  transition: var(--hover-transition);
}

i {
  padding-right: var(--navbar-icon-padding);
}
